@using STRaceLifePG.Enum
@using STRaceLifePG.ViewModel
@model RaceEditViewModel

<h2>Edit Race</h2>

<div class="card" style="max-width: 550px; margin: 0 auto;">
    <div class="card-header">
        <h2>Edit Race</h2>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capital" class="control-label"></label>
                <input asp-for="Capital" class="form-control" />
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">Select Category</option>
                    @foreach (var category in Enum.GetValues(typeof(RaceCategoryEnum)))
                    {
                        <option value="@category">@category</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <hr />
            <button type="submit" class="btn btn-primary">Save</button>
            
            <a asp-controller="Race" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>

